<% if @work_order.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@work_order.errors.count, "error") %> prohibited this work order from being saved:</h2>
  <ul>
  <% @work_order.errors.full_messages.each do |msg| %>
    <li><%= msg %></li> <br>
  <% end %>
  </ul>
</div>
<% end %>
<%= form_for [@work_order] do |f| %>
    
    <%= f.label :new_time %>
    <%= f.text_area :time %> <br>
    <%= f.label :new_duration %>
    <%= f.text_area :duration %> <br>
    <%= f.label :new_price %>
    <%= f.text_area :price %> <br>
    <%= f.label :city %>
    <%= f.collection_select :location_id, Location.all.order(:city), :id, :city, include_blank: true  %><br><br>
    <%= f.label :user %>
    <%= f.collection_select :user_id, User.all.order(:name), :id, :name, include_blank: true  %><br><br>

    <%=f.submit %>
    
  <% end %>
  <style>
        li {
          color: red;
          font-weight: bold;
        }
</style>

<a href="/">Home</a>